html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

#about,
#trending,
#contact {
  scroll-margin-top: 120px;
}

app-root {
  display: block;
  width: 100%;
  overflow-x: hidden;
}